In [1]:
#A database is an organized collection of structured information. The basic difference between a SQL and a NOSQL databse is
#1) Most SQL databases have similar syntaxes whereas every NOSQL database has its own language
#2) SQL can only store structured data whereas NOSQL can store any type of data whether stuctured or unstructured.
#3) Examples of MYSQL databases - MYSQL,MSSQL and  Examples of NOSQL databases - MomgoDB, Cassandra

In [2]:
# DDL refers to data definition language which is used to define the basic structure of the database
# CREATE - is used to create a database
# DROP - is used to delete a database
# ALTER - is used to alter the structure of table
# TRUNCATE - is used to modify the storage elements of the table

In [3]:
# DML refers to data manipulation language which is used to manipulate the data stored in the table
# INSERT - is used to insert a new data in a table
# UPDATE - is used to replace the existing data with a new data
# DELETE - is used to delete the existing data in the table

In [4]:
#DQL refers to data query language which is Data query language which gives results on the basis of the querty which is put up 
#SELECT - is used to select the columns for which we want the data to be displayed

In [5]:
#Primary key is the column which uniquely identifies a table and cannot be changed and a primary key present in another table is called a FOREIGN KEY

In [8]:
# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="abc",
#   password="password"
# )
# mycursor = mydb.cursor()
#Execute is used to perform a particular action in the SQL

In [ ]:
# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="abc",
#   password="password"
# )
# mycursor = mydb.cursor()
# # mycursor.execute("select * from test2.test_table")
# mycursor.execute("select c1,c5 from test2.test_table")
# for i in mycursor.fetchall():
#     print(i)
# mydb.close()