In [14]:
#For loop is used when number of iterations is known and while is used when number of iterations is unknown 
#Example of WHILE LOOP
i = 1
while (i<20):
    print(i**2)
    i=i+1
#Example of FOR LOOP
for i in range(1,21):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [6]:
#Using for loop
sum1=0
i=1
product = 1
for i in range(1,11):
    sum1 = sum1+i
    product = product*i
print(sum1)
print(product)

#Using while loop
sum2=0
product1=1
i=1
while(i<11):
    sum2 = sum2 +i
    product1 = product1*i
    i=i+1
print(sum2)
print(product1)

55
3628800
55
3628800

In [13]:
n = int(input("Enter the Units of electricity consumed"))
if (n<100):
    print("Your Bill is : ", n*4.5 ,"Rs")
elif(n>100 and n<200):
    print("Your Bill is : ",100*4.5+(200-n)*6, "Rs")
elif(n>200 and n<300):
    print("Your Bill is : ",100*4.5+100*6+(300-n)*10, "Rs")
elif (n>300):
    print("Your Bill is : ",100*4.5+100*6+100*10-(300-n)*20, "Rs")
else:
    print("please enter a valid unit number")

Enter the Units of electricity consumed 310

Your Bill is :  2250.0 Rs

In [29]:
l=[]
l1=[]
#Using for loop
for i in range(1,101):
    i = i**3
    l.append(i)
print(l)
#using while loop
while i<101:
    i = i**3
    i=i+1
    l.append(i)
print(l)
#printing cubes divisible by 4 or 5 in a list
for i in range(len(l)):
    if(l[i]%4==0 or l[i]%5==0):
        l1.append(l[i])
print(l1)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [32]:
string = "I want to become a data scientist"
count = 0
for i in string:
    if (i=="a" or i=="e" or i=="i" or i=="o" or i=="u" or i=="A" or i=="E" or i=="i" or i=="o" or i=="u"):
        count = count+1
print(count)

11